
    <header>
      <!-- <input type="text" placeholder="Search for a project..." id="project"> -->
      <a id="menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <span>Projects</span>
      <a class="right"><i class="fa fa-search" aria-hidden="true"></i></a>
      <a class="right" id="newproject"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </header>

    <div class="dropdown">
      <form action="/addproject" method="POST">
        <span>New Project</span>
        <input type="text" name="projectName" placeholder="Project name" autofocus required pattern="[a-zA-Z0-9 _-]{1,30}$" title="No special characters and must be 1-30 characters long">
        <select name="projectColour">
          <option value="white">Theme colour:</option>
          <option value="white">White and Teal</option>
          <option value="orange">Orange</option>
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
        <input type="submit" value="Create">
      </form>
    </div>
    <div class="background-screen" id="dropdown-bottom"></div>

    <div class="container">
      <ul>
        {{#if projects}}
          {{#each projects}}
            <li class="project {{this.colour}}-background">
              <a class="project-link" href="/project/{{this.id}}"><span>{{this.name}}</span></a>
              <a class="settings" href=""><i class="fa fa-cog" aria-hidden="true"></i></a>
            </li>
          {{/each}}
        {{else}}
          <p>You currently have no projects. Click the "+" button to create one!</p>
        {{/if}}
      </ul>
    </div>
