<header>
  <!-- <input type="text" placeholder="Search for a project..." id="project"> -->
  <button id="back"><a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
  <span>{{project.name}}</span>
  <button id="newfeature"><a><i class="fa fa-plus" aria-hidden="true"></i></a></button>
</header>
