
    <header>
      <!-- <input type="text" placeholder="Search for a project..." id="project"> -->
      <button id="menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <span>Projects</span>
      <button id="search"><i class="fa fa-search" aria-hidden="true"></i></button>
      <button id="newproject"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </header>

    <div class="container">
      <ul>
        <a href="#">
            <li class="project">
            <span>Meet Website</span>
            <button id="settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
          </li>
        </a>
        <a href="#">
            <li class="project">
            <span>Habit Tracker</span>
            <button id="settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
          </li>
        </a>
      </ul>
      <p id="cacheVersion">ver 1.6</p>
    </div>
