<header>
  <a id="menu"><i class="fa fa-bars" aria-hidden="true"></i></a></button>
  <span>Login/Signup</span>
</header>

<div class="login-content">

  <a id="loginbtn">LOGIN</a>
  <a id="signupbtn" href="/signup">SIGN UP</a>

  {{#if errors}}
    <div class="error-messages">
      <ul>
        {{#each errors}}
          <li>{{this.msg}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}


  <div id="login-form">
    <form action="/login" method="post">
      <ul>
        <li>
          <div class="input-icon"><i class="fa fa-envelope-square" aria-hidden="true"></i></div>
          <input type="email" name="email" placeholder="Enter email..." required />
        </li>
        <li>
          <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
          <input type="password" name="password" placeholder="Enter password..." required pattern="[a-zA-Z0-9_-]{6,100}$" title="No special characters and must be 6-100 characters long." />
        </li>
        <li>
          <input type="submit" value="Login">
        </li>
      </ul>
    </form>
  </div>
</div>
