<header>
  <button id="menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
  <span>Login/Signup</span>
</header>

<div class="login-content">

  <div id="login-top">
    <img href="/" src="public/logo.png"/>
    <h1>DevTracker</h1>
  </div>

  <a id="loginbtn">LOGIN</a>
  <a id="signupbtn">SIGN UP</a>

  {{#if errors}}
    <ul>
      {{#each errors}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <div id="login-form">
    <form action="/login" method="post">
      <ul>
        <li>
          <div class="input-icon"><i class="fa fa-envelope-square" aria-hidden="true"></i></div>
          <input type="text" name="email" placeholder="Enter email..." required>
        </li>
        <li>
          <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
          <input type="password" name="password" placeholder="Enter password..." required>
        </li>
        <li>
          <input type="submit" value="Login">
        </li>
      </ul>
    </form>
  </div>
  <div id="signup-form">
    <form action="/signup" method="post">
      <ul>
        <li>
          <div class="input-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
          <input class="half" type="text" name="first_name" placeholder="First name..." >
          <input class="half" type="text" name="last_name" placeholder="Last name..." >
        </li>
        <li>
          <div class="input-icon"><i class="fa fa-envelope-square" aria-hidden="true"></i></div>
          <input type="text" name="email" placeholder="Email..." >
        </li>
        <li>
          <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
          <input class="half" type="password" name="password" placeholder="Password..." >
          <input class="half" type="password" name="passwordMatch" placeholder="Re-enter password..." >
        </li>
        <li>
          <input type="submit" value="Sign up">
        </li>
      </ul>
    </form>
  </div>
</div>
