/*

Colours:
-headery: #2D3E50
-Red: #E54D42
-Light Grey: #ECF0F1
-Teal: #4CD4B0
-Light Blue: 	#3A99D9
-Blue: #2E80B8

*/

body {
  background-color: #F9F9F9;
}

body, input{
  font-family: Rubik, monospace;
}

header {
  width: 100%;
  height: 65px;
  border-radius: 0 0 7px 7px;
  background-color: #48D0AC;
  box-shadow: 0px 0px 5px #888888;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

header input {
  width: 100%;
  height: 50px;
  text-indent: 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  outline: none;
  opacity: 0.8;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}
header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}
header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}
header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
  cursor: pointer;
  width: 58px;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  float: left;
}

header button#search, header button#newproject {
  float: right;
}

header button#search {
  border-bottom-right-radius: 7px;
}

header button#menu {
  border-bottom-left-radius: 7px;
}

header span {
  color: #FFFFFF;
  font-size: 20px;
  float: left;
  margin: 20px 10px;
}

header button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.container {
  width: 100%;
  padding: 10px;
  margin-top: 65px;
}

ul li.project {
  width: 100%;
  height:80px;
  background-color: #FFFFFF;
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 90px;
  box-shadow: 0px 0px 3px #888888;
  border-radius: 7px;
  position: relative;
}

ul li.project span {
  width: 100%;
  float: left;
  font-size: 22px;
  margin: 29px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li.project button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  float: right;
  font-size: 20px;
  position: absolute;
  background-color: rgba(76,176,212, 0.1);
  border-radius: 0 7px 7px 0;
  top: 0;
  right: 0;
}

ul li.project button:hover {
  background-color: rgba(76,212,176, 0.2);
}

/*button#newproject {
  cursor: pointer;
  width: 55px;
  height: 55px;
  margin: 0 10px 10px 0;
  padding-top: 3px;
  position: fixed;
  border-radius: 35px;
  box-shadow: 0px 0px 3px #888888;
  background-color: #FFFFFF;
  color: #104745;
  font-size: 16px;
  bottom: 0;
  right: 0;
}

button#newproject:hover {
  background-color: #FFFFFF;
}

button#newproject::-moz-focus-inner{
  outline: none;
  border: none;
}*/
